<%- include('../partials/header') %>



    <p>Shows</p>
    <ul>
        <% shows.forEach((show) => { %>
        <li>
            <a href="/shows/<%= show._id %>"><%= show.name %></a>
            - 
            <% show.done ? 'done' : 'not done' %>
        </li>
        <% }) %>
    </ul>
    <a href="/shows/new">Add Show</a>
    
<%- include('../partials/footer')%>

