<%- include('.partials/header') %>

    <p></p>
    <ul>
        <% shows.forEach(function(t) { %>
        <li>
            <%= s.category %>
            - 
            <%= t.done ? 'done' : 'not done' %>
        </li>
        <% }); %>
    </ul>

<%- include('.partials/footer') %>